<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>陈情令 第01集 超清(720P)</title>
    <link rel="stylesheet" type="text/css" href="/css/share.css">
</head>
<body onload="init()">
<div class="gaog" id="gaog">
    <!--广告添加区域-->
    <div class="gaog-var">
    </div>
</div>
<div id="a1"></div>
<div style="display:none" name="playtime" value="2537"></div>
<div style="display:none" name="sizeview" value="503015291"></div>
<script type="text/javascript" src="/js/jquery-1.11.2.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/ckplayerx/ckplayer.js" charset="utf-8"></script>
<link rel="stylesheet" href="/DPlayer/DPlayer.min.css">
<script src="/DPlayer/DPlayer.min.js"></script>
<script src="/hls.min.js"></script>
<script type="text/javascript">
    var video_player= 'dplayer'
    var tracker_url = ''
    var signaler_url = ''
    var hosts = '';
    var redirecturl = "http://vip.okzybo.com";
    var videoid = "61e654de938ad0e111edcd4cb276ad02";

    var id = '61e654de938ad0e111edcd4cb276ad02'
    var     l = ''
    var     r= ''
    var     t= '15'
    var     d= ''
    var     u= ''

    var main = "/20190627/15915_55bbe0ee/index.m3u8?sign=da8c5854e4a257448188a247ebcbcfbe";
    var xml = "/20190627/15915_55bbe0ee/index.xml?sign=da8c5854e4a257448188a247ebcbcfbe";
    var pic = "/20190627/15915_55bbe0ee/1.jpg";
    var thumbnails = "/20190627/15915_55bbe0ee/thumbnails.jpg";
</script>
<script type="text/javascript" src="/js/share.js" charset="utf-8"></script>
<script type="text/javascript">

</script>
<!--/广告添加区域-->
</body>
</html>
